<page-header title='' home_link='/index'></page-header>
<nz-card [nzBordered]="true">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="doSearch()">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" class="mb-md">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="uname">{{'common.head'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <nz-select [(ngModel)]="q.uname" [nzFilterOption]="unameSrc" name="uname" nzAllowClear nzId="uname" [nzPlaceHolder]="'tip.please-select-person-in-charge'|translate" [nzShowSearch]="true">
              <nz-option nzCustomContent *ngFor="let i of unameSlt" [nzLabel]="i.label" [nzValue]="i.value">
                <b style="font-size: 17px;">{{i.label}}</b> {{i.value}}
              </nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="mb-md">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="name">{{'common.project-name'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <nz-select [(ngModel)]="q.name" name="name" (ngModelChange)="getVersion($event,1)" nzAllowClear nzId="name" [nzPlaceHolder]="'tip.please-select-the-project-name'|translate" [nzShowSearch]="true">
              <nz-option *ngFor="let option of projectnameSlt" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="mb-md" *ngIf="expandForm">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="version">{{'common.version-number'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <nz-select nzAllowClear name="version" nzId="version" [nzPlaceHolder]="'tip.please-select-the-version-number-first'|translate" [(ngModel)]="q.version" nzShowSearch>
              <nz-option *ngFor="let option of versionSlt1" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="mb-md" *ngIf="expandForm">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="parent_module">{{'common.the-parent-module'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <input nz-input [(ngModel)]="q.parent_module" name="parent_module" placeholder="{{'tip.please-enter-the-parent-module'|translate}}" nzId="parent_module">
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="mb-md" *ngIf="expandForm">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="submodule">{{'common.the-child-module'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <input nz-input [(ngModel)]="q.submodule" name="submodule" placeholder="{{'tip.please-enter-the-submodule'|translate}}" nzId="submodule">
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="mb-md" *ngIf="expandForm">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="pre_time">{{'common.estimated-time-of-completion'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <nz-range-picker [(ngModel)]="q.pre_time" name="pre_time" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-range-picker>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="mb-md" *ngIf="expandForm">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="operate_time">{{'common.operating-time'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <nz-range-picker [(ngModel)]="q.operate_time" name="operate_time" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-range-picker>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="mb-md" *ngIf="expandForm">
        <div nz-form-item class="d-flex">
          <div nz-form-label nz-col [nzSpan]="8">
            <label for="description">{{'common.describe'|translate}}</label>
          </div>
          <div nz-form-control class="flex-1">
            <input nz-input [(ngModel)]="q.description" name="description" placeholder="{{'tip.please-enter-description'|translate}}" nzId="description">
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="searchloading">{{'btn.query'| translate}}</button>
        <button nz-button type="reset" (click)="doReset()" class="mx-sm">{{'btn.reset'| translate}}</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? ('btn.packup'| translate):('btn.unfold'| translate)}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </div>
    </div>
  </form>
  <!-- <form nz-form [nzLayout]="'inline'" (ngSubmit)="doSearch()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="uname">负责人</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.uname" name="uname" nzAllowClear id="uname" [nzPlaceHolder]="'请选择负责人'" [nzShowSearch]="true">
              <nz-option nzCustomContent *ngFor="let i of unameSlt" [nzLabel]="i.label" [nzValue]="i">
                <b style="font-size: 17px;">{{i.label}}</b> {{i.value}}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">项目名称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.name" name="name" placeholder="请输入项目名称" id="name">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="version">版本号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.version" name="version" placeholder="请输入版本号" id="version">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="parent_module">父模块</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.parent_module" name="parent_module" placeholder="请输入父模块" id="parent_module">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="submodule">子模块</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.submodule" name="submodule" placeholder="请输入子模块" id="submodule">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="pre_time">预订完成时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker [(ngModel)]="q.pre_time" name="pre_time" id="pre_time" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="operate_time">操作时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker [(ngModel)]="q.operate_time" name="operate_time" id="operate_time" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="description">描述</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.description" name="description" placeholder="请输入描述" id="description">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="doReset()" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </nz-col>
    </nz-row>
  </form> -->
</nz-card>
<nz-card [nzBordered]="true">
  <div class="mb-md">
    <button nz-button (click)="befAdd()" [nzType]="'primary'">
      <i class="anticon anticon-plus"></i>
      <span>{{'btn.add'| translate}}</span>
    </button>
  </div>
  <nz-table #nzTable [nzData]="tableData" [nzPageSize]="50" nzShowSizeChanger nzShowQuickJumper [nzShowTotal]='tblTotal'>
    <thead nz-thead>
      <tr>
        <th nzShowSort (nzSortChange)="sort('name',$event)">
          {{'common.project-name'|translate}}
        </th>
        <th nzShowSort (nzSortChange)="sort('version',$event)">
          {{'common.version-number'|translate}}
        </th>
        <th nzShowSort (nzSortChange)="sort('parent_module',$event)">
          {{'common.the-parent-module'|translate}}
        </th>
        <th nzShowSort (nzSortChange)="sort('submodule',$event)">
          {{'common.the-child-module'|translate}}
        </th>
        <th nzShowSort (nzSortChange)="sort('uname',$event)">
          {{'common.head'|translate}}
        </th>
        <th nzShowSort (nzSortChange)="sort('pre_time',$event)">
          {{'common.estimated-time-of-completion'|translate}}
        </th>
        <th nzShowSort (nzSortChange)="sort('operate_time',$event)">
          {{'common.operating-time'|translate}}
        </th>
        <th nzShowSort (nzSortChange)="sort('description',$event)" nzWidth="100px">
          {{'common.describe'|translate}}
        </th>
        <th>
          <span>{{'btn.operation'| translate}}</span>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td>
          {{data.name}}
        </td>
        <td>
          {{data.version}}
        </td>
        <td>
          {{data.parent_module}}
        </td>
        <td>
          {{data.submodule}}
        </td>
        <td>
          <b style="font-size: 17px;">{{data.rname}}</b> {{data.uname}}
        </td>
        <td>
          {{data.pre_time | date:'yyyy-MM-dd HH:mm:ss'}}
        </td>
        <td>
          {{data.operate_time}}
        </td>
        <td>{{data.description}}</td>
        <td>
          <span>
            <a href="javascript:;" (click)="befEdit(data)">{{'btn.editor'| translate}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <nz-popconfirm [nzTitle]="'tip.ok-delete'| translate" [nzOkText]="'btn.confirm' | translate" [nzCancelText]="'btn.cancel' | translate" (nzOnConfirm)="del(data.id)">
              <a nz-popconfirm>{{'btn.delete'| translate}}</a>
            </nz-popconfirm>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #tblTotal>{{'common.total'| translate}} {{tbltotal}} {{'common.article'| translate}}</ng-template>
</nz-card>
<nz-modal [nzVisible]="modalVisible" [nzOkLoading]="loading" [nzTitle]="addOrUpldTitle" [nzContent]="modalContent" (nzOnOk)="addOrUpl()" (nzOnCancel)="modalVisible = false">
  <ng-template #modalContent>
    <form nz-form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="name">{{'common.project-name'|translate}}</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-select formControlName="name" name="name" [nzDisabled]="isFormDisabled" (nzOpenChange)="getVersion(1)" nzId="name" [nzAllowClear]="false" [nzPlaceHolder]="'tip.please-select-the-project-name'|translate" [(ngModel)]="nameOption" nzShowSearch>
            <nz-option *ngFor="let option of projectnameSlt" [nzLabel]="option.label" [nzValue]="option.value">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="(formGroup.get('name').dirty || formGroup.get('name').touched) && formGroup.get('name').errors">{{'tip.required'|translate}}！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="version">{{'common.version-number'|translate}}</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-select formControlName="version" name="version" [nzDisabled]="isFormDisabled" (nzOpenChange)="getPModule($event)" nzId="version" [nzAllowClear]="false" [nzPlaceHolder]="'tip.please-select-the-version-number-first'|translate" [(ngModel)]="versionOption" nzShowSearch>
            <nz-option *ngFor="let option of versionSlt" [nzLabel]="option.label" [nzValue]="option.value">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="(formGroup.get('version').dirty || formGroup.get('version').touched) && formGroup.get('version').errors">{{'tip.required'|translate}}！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="parent_module">{{'common.the-parent-module'|translate}}</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-select formControlName="parent_module" [nzDisabled]="isFormDisabled" (nzOpenChange)="getSModule($event)" name="parent_module" nzId="parent_module" [nzAllowClear]="false" [nzPlaceHolder]="'tip.please-enter-the-parent-module'|translate" [(ngModel)]="parent_moduleOption" nzShowSearch>
            <nz-option *ngFor="let option of parent_moduleSlt" [nzLabel]="option.label" [nzValue]="option.value">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="(formGroup.get('parent_module').dirty || formGroup.get('parent_module').touched) && formGroup.get('parent_module').errors">{{'tip.required'|translate}}！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="submodule">{{'common.the-child-module'|translate}}</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-select formControlName="submodule" name="submodule" nzId="submodule" nzMode="multiple" [nzAllowClear]="false" [nzPlaceHolder]=" 'tip.please-enter-the-submodule'|translate " nzShowSearch>
            <nz-option *ngFor="let option of submoduleSlt" [nzLabel]="option.label" [nzValue]="option.value">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="(formGroup.get('submodule').dirty || formGroup.get('submodule').touched) && formGroup.get('submodule').errors">{{'tip.required'|translate}}！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="uname">{{'common.head'|translate}}</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-select formControlName="uname" name="uname" nzShowSearch nzId="uname" [nzPlaceHolder]="'tip.please-select-person-in-charge' |translate" [nzAllowClear]="false" [(ngModel)]="unameOption">
            <nz-option nzCustomContent *ngFor="let i of unameSlt" [nzLabel]="i.label" [nzValue]="i.value">
              <b style="font-size: 17px;">{{i.label}}</b> {{i.value}}
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="(formGroup.get('uname').dirty || formGroup.get('uname').touched) && formGroup.get('uname').errors">{{'tip.required'|translate}}！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired>{{'common.estimated-time-of-completion'|translate}}</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-date-picker formControlName="pre_time" name="pre_time" [nzAllowClear]="false" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-date-picker>
          <nz-form-explain *ngIf="(formGroup.get('pre_time').dirty || formGroup.get('pre_time').touched) && formGroup.get('pre_time').errors">{{'tip.required'|translate}}！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7">{{'common.describe'|translate}}</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input formControlName="description" name="description" placeholder="{{'tip.please-enter-description' |translate}}" nzId="description">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
